:root {
  --sans-font: -apple-system, "Jet Brains Mono", BlinkMacSystemFont, "Avenir Next", Avenir,
  "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
  "Helvetica Neue", sans-serif;
  --mono-font: 'IBM Plex Mono', Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #A8A8A8;
  --border: #898EA4;
  --accent: #FFA500;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

html {
  font-size: 15px;
  font-family: var(--mono-font);
  letter-spacing: -0.5px;
    
  .container {
    width:80%;
    margin: auto;
  }
                               
  a {
    color: var(--text);
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
    cursor: pointer;
  }
  
  pre  {
    padding: 10px 20px 10px 20px;
  }
  
  td {
    border: 1px solid grey;
  }

  .header {
    width: 80%;
    margin: auto;
    .title {
      font-size: 3rem;
    }
    .link {
      font-size: 1.5rem;
    }
  }
   
  
  .post-card {
    padding-top: 2rem;
    .hash {
      color: var(--accent);
    }
    .date {
      color: var(--text-light);
    }
  }            
  
  @media only screen and (max-device-width: 800px) {
    padding: 0.75rem;
    margin: none;
    
    body {
      width: 90%;
      margin: auto;
    }
    .header {
      width: 100%;
      .link {
        font-size: 3rem;
      }
    }
    section.section {
      width: 100%;
    }
    .container {
      width: 100%;
    }
    
    pre code {
      // word-wrap: break-word;
    }
    pre {  
      code {
        // display: grid;
        // font-size: 2rem;
      }
    }
    
    .post {
      * {
        font-size: 5rem;
      }
    }
  }

  .go-back {
    margin-top: 3rem;
    margin-bottom: 3rem;
    .left-arrow {
    }
  }
 
  .emoji {
    font-family: emoji;
  }
  

}




