:root {
  --mono-font: "IBM Plex Mono", monospace;
  
  /* Light (default) theme */
  --bg: #ffffff;
  --text: #212121;
  --text-secondary: #A8A8A8;
  --border: #898EA4;
  --accent: #FFA500;
  --accent-dark:#d07d00;
  
  /* Dark theme */
  --bg-dark: #202427;
  --text-dark: #fff;
  --text-light-dark: #A8A8A8;
  --border-dark: #898EA4;
}

body.light {
  background: var(--bg);
  color: var(--text);
  a {
    color: var(--text);
  }
  
  a:hover {
    background-color: var(--accent);
  }
  
  #dark-mode {
    display: none;
  }
  #light-mode {
    display: inline;
  }
  
  p, li {
    code {
      background: #eee;
      color: var(--accent-dark);
      font-weight: 400;
    }
  }
  blockquote, .description {
    background-color: #eee;
    p {
      color: black;
    }
  }
}

body.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
  
  a {
    color: var(--text-dark);
  }
  a:hover {
    background-color: var(--accent);
  }
  #dark-mode {
    display: inline;
  }
  #light-mode {
    display: none;
  }
  p, li {
    code {
      background: #222;
      color: var(--accent);    
      }
  }
  blockquote, .description {
    background-color: #222; 
    p {
      color: white;    
    }
  }
}

body {
  font-size: 15px;
  font-family: var(--mono-font);
  letter-spacing: -0.5px;
    
  .container {
    width:80%;
    margin: auto;
  }
                               
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
  a {
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
    cursor: pointer;
  }
  
  a.github-link {
    display: inline;
  }
  
  pre  {
    padding: 10px 20px 10px 20px;
  }
  
  td {
    border: 1px solid grey;
  }
  
  hr {
    border: 1px solid var(--accent);
  }

  .header {
    width: 80%;
    margin: auto;
    .title {
      font-weight: 400;
      font-size: 3rem;
      .theme-toggle {
        cursor: pointer;
        float: right;
        font-size: 1.5rem;
      }
      .hash {
        color: var(--accent);
        letter-spacing: -10px;
      }
    }
    .link {
      font-size: 1rem;
      letter-spacing: -1px;
    }
  }
  
  .container {
    min-height: 70vh;
  }
  
  .post-card {
    padding-top: 2rem;
    .hash {
      color: var(--accent);
      letter-spacing: -5px;
    }
    .date {
      color: var(--text-secondary);
    }
    h1 {
      margin: 0;
    }
  }            
  
  .go-back {
    margin-top: 3rem;
    margin-bottom: 3rem;
    .left-arrow {
    }
  }
  
  
  footer {
    height: 10rem;
    margin-top: 10rem;
    margin-bottom: 1em;
    a { 
      display: block;
    }
  }

    section {
      h1 {
        font-size: 2rem;
      }
      
      h2 {
        
        font-size: 1.5rem;
      }
      
      a {
        font-size: 1rem;
      }
      
      pre {
        overflow-x: scroll;
      }
      
      code {
        font-size: 1rem;
      }
    
      p {
        font-size: 1rem;
      }
    }
  @media only screen and (max-device-width: 800px) {
    padding: 0.75rem;
    margin: none;
    
    body {
      width: 90%;
      margin: auto;
    }
    .header {
      width: 95%;
      .title {
        a {
          font-size: 5rem;
          font-weight: 500;
        }
        .theme-toggle {
          font-size: 3rem;
        }
      }
      .link {
        font-weight: 300;
        font-size: 3rem;
        padding-right: 5px;
      }
    }
    section.section {
      width: 95%;
    
      margin: auto;
    }
    .container {
      width: 100%;
    }
    
    section {
      h1 {
        font-size: 4rem;
      }
      
      h2 {
        
        font-size: 3rem;
      }
      
      a {
        font-size: 2rem;
      }
      
      pre {
        overflow-x: scroll;
      }
      
      code {
        font-size: 2rem;
      }
    
      p {
        font-size: 1.75rem;
      }
    }
    footer {
        font-weight: 300;
        font-size: 2.5rem;
        padding-right: 5px;
    }
  }

 
  .emoji {
    font-family: emoji;
  }
  
  
  

}




