use nix
export GIT_COMMITTER_NAME="jxlxx"
export GIT_COMMITTER_EMAIL="wormperson69@gmail.com"
export GIT_AUTHOR_NAME="jxlxx"
export GIT_AUTHOR_EMAIL="wormperson69@gmail.com"
export GIT_SSH_COMMAND="ssh -i ~/.ssh/jxlxx"

