<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,500;0,600;0,700;1,300;1,400&family=Inter&display=swap" rel="stylesheet">
  <title>julio.lol</title>
  <link id="stylesheet" 
        rel="stylesheet" 
        type="text/css" 
        href="{{ get_url(path='base.css', trailing_slash=false) | safe }}">
</head>
    
<body>

  <div class="header">
    <h1 class="title">
      <a href="{{ get_url( path='/') }}"> julio.lol </a>
    </h1>
    <a class="link" 
       href="{{ get_url(path='/about') }}">
    about</a>
    <a class="link" 
       href="{{ get_url(path='/projects') }}">
    projects</a>
    <a class="link" 
       href="{{ get_url(path='/posts') }}">
    posts</a>
    <a class="link" 
       href="{{ get_url(path='/contact') }}">
    contact</a>
  </div>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>
</html>

