{% extends "base.html" %}


{% block content %}

  {% set section = get_section(path="posts/_index.md") %}

    {% for page in section.pages %}
      <div class="post-card">
        <h1> 
          <span class="hash"> # </span>
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h1> 
      
      <div class="date"> {{ page.date }} </div>
    
      {{ page.description }}
      
      <br/>
      
      <div class="read-more">
        <a href="{{ page.permalink | safe }}">Read more <span class="emoji"> ➫ </span> </a>
      </div>
      
      </div>
    {% endfor %}


{% endblock content %}

