{% extends "base.html" %}


{% block content %}

  {% set section = get_section(path="posts/_index.md") %}

  <ul class="post-list">
    {% for page in section.pages %}
      <div class="post-card">
        <h1> 
          # <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h1> 
      
      <div class="date"> {{ page.date }} </div>
    
      {{ page.description }}
      
      <br/>
      
      <div class="read-more">
        <a href="{{ page.permalink | safe }}">Read More ➫ </a>
      </div>
      
      </div>
    {% endfor %}
  </ul>


{% endblock content %}

