name: Zola on GitHub Pages

on: 
 push:
  branches:
   - main

jobs:
  build:
    name: Publish site
    runs-on: ubuntu-latest
    steps:
    - name: Checkout main
      uses: actions/checkout@v3.0.0
    
    - name: Set safe dirs
      run: git config --global --add safe.directory "*"
    
    - name: Build and deploy
      uses: shalzz/zola-deploy-action@v0.16.0
      env:
        PAGES_BRANCH: gh-pages
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
