name: Zola on GitHub Pages

on: 
 push:
  branches:
   - main

jobs:
  build:
    name: Publish site
    runs-on: ubuntu-latest
    steps:
    - name: Checkout main
      uses: actions/checkout@v3.0.0
    
    - name: huh
      run: echo $BUILD_THEMES

    - name: Build and deploy
      uses: shalzz/zola-deploy-action@v0.16.1
      env:
        PAGES_BRANCH: gh-pages
        BUILD_THEMES: false
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: huh2
      run: echo $BUILD_THEMES
